
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Tablo Örneği - Category</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Film</td>
        <td>Bu Film kategorisidir.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Dizi</td>
        <td>Bu Dizi kategorisidir.</td>
        <td>True</td>
    </tr>
</table>
<button class="btn btn-dark">Yeni Kategori</button>
